.headDiv{
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: rgb(255, 255, 255);
}
.headdivpart1 img{
    height: 20px;
    width: 20px;
    margin: 0px 5px;
}
.headdivpart2 img{
    height: 25px;
    width: 25px;
    margin: 0px 10px;
}
.headdivpart1{
    height: 50px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headdivpart2{
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 20px;
    color: blue;
}